@import '@fontsource/open-sans';
@import '@fontsource/pt-serif';

:root {
	font-family: 'Open Sans', 'Helvetica Neue', 'Arial', sans-serif;
	--serif-font:  'PT Serif', 'Tahoma', serif;
	--sans-serif-font:  'Open Sans', 'Helvetica Neue', 'Arial', sans-serif;
	--font-mono: 'Fira Mono', monospace;
	--pure-white: #ffffff;
	--primary-color: #e6dfda;
	--secondary-color: #f2ebe6;
	--tertiary-color: #f5eee8;
	--accent-color: #343a4a;
	--heading-color: #343a4a;
	--text-color: #343a4a;
	--background-without-opacity: rgba(255, 255, 255, 0.7);
	--column-width: 42rem;
	--column-margin-top: 1rem;
}

body {
	min-height: 100vh;
	margin: 0;
	font-family: var(--serif-font);
	background-color: var(--primary-color);
	background: linear-gradient(
		180deg,
		var(--primary-color) 0%,
		var(--secondary-color) 10.45%,
		var(--tertiary-color) 41.35%
	);
}

body::before {
	content: '';
	width: 80vw;
	height: 100vh;
	position: absolute;
	top: 0;
	left: 10vw;
	z-index: -1;
	background: radial-gradient(
		50% 50% at 50% 50%,
		var(--pure-white) 0%,
		rgba(255, 255, 255, 0) 100%
	);
}

#svelte {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}

h1,
h2,
p {
	font-weight: 400;
	color: var(--heading-color);
}

p {
	line-height: 1.8rem;
	font-family:  var(--serif-font);
	color: var(--text-color);
}

a {
	color: var(--accent-color);
	text-decoration: none;
	padding-bottom: 1px;
	border-bottom: 1px dotted var(--accent-color);
}

h1 {
	font-size: 2rem;
	text-align: center;
}

h2 {
	font-size: 1rem;
}

pre {
	font-size: 16px;
	font-family: var(--font-mono);
	background-color: rgba(255, 255, 255, 0.45);
	border-radius: 3px;
	box-shadow: 2px 2px 6px rgb(255 255 255 / 25%);
	padding: 0.5em;
	overflow-x: auto;
	color: var(--text-color);
}

input,
button {
	font-size: inherit;
	font-family: inherit;
}

button:focus:not(:focus-visible) {
	outline: none;
}

a:hover {
	border-bottom: 1px solid;
}
nav a, .corner-logo, .corner-menu, footer a {
	color: var(--heading-color);
	font-family: var(--sans-serif-font);
	text-decoration: none;
	border-bottom: 0;
}

a.corner-logo:hover, a.corner-menu:hover {
	text-decoration: none;
	border-bottom: 0;
}

a.footer-icon:hover {
	border-bottom:  0;
	color: var(--heading-color);
	text-decoration: none;
}

h1 {
	font-size: 2.4rem;
	font-family: var(--sans-serif-font);
	font-weight:  700;
}

h2 {
	font-size: 1.8rem;
	font-family: var(--serif-font);
	font-weight:  700;
}

h3 {
	font-size: 1.4rem;
	font-family: var(--serif-font);
	font-weight:  700;
}

h4 {
	font-size: 1.2rem;
	font-family: var(--serif-font);
	font-weight:  700;
}

h5 {
	font-size: 1.1rem;
	font-family: var(--serif-font);
	font-weight:  700;
}

blockquote.pullquote {
  content: '';
  font-size: 1rem;
  font-family: 'PT Serif', serif;
  color: #444;
  vertical-align: middle;
  border-right: 4px solid #444;
  line-height: 1rem;
  clear: both;
  padding-top: 20px;
  float: right;
  min-height: 100%;
  padding-right: 20px;
  text-align: right;
	font-family:  var(--serif-font);
}
figure figcaption.pullquote {
  text-align: right;
	font-family:  var(--sans-serif-font);
}

#menu-social {
		flex-wrap: wrap; 
		font-size: .65rem;
		color:  var(--accent-color);
}

#menu-social li {
  float: left;
  list-style-type:  none;
  margin-right: 10px;
}

#menu-social li span {
  float: right;
}

#menu-social li svg {
  float: left;
  margin-right:  5px;
}

footer ul li {
  float: left;
  list-style-type:  none;
  margin-right: 10px;
}

.footer-icon img {
  width: 64px;
  height: 64px;
}

.has-text-align-center {
	text-align: center;
}

.corner-logo {
	text-decoration: none;
}

.corner-menu {
	text-decoration: none;
}

::selection {
  background: #343a4a;
  color: #f5eee8;
}

ul.menu-navigation {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap; 
	max-width: 480px;
  align-items: center;
  justify-content: center;
}

ul.menu-navigation li {

}

.nav-text {
	font-family: var(--sans-serif-font) !important;
	text-transform: uppercase;
	font-size:  .75rem !important;
}

#home img {
  max-height: 48px;
}

.tagline {
	font-family: var(--serif-font);
}

